.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid #4caf50;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #ddf1df;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #4caf50;
  border-radius: 50px;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
}

.navbar-profile,.navbar-search{
  position: relative;
}

.search-bar {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar-search:hover .search-bar,
.navbar-search:focus-within .search-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #ddf1df;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #4caf4f80;
  /* outline: 2px solid white;   */
}

.search-bar input {
  padding: 8px 12px;
  border: 1px solid #4caf4f80;
  border-radius: 50px;
  outline: none;
  font-size: 16px;
}

.search-bar img{
  width: 20px;  
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ddf1df;
  padding: 12px 25px;
  border-radius: 10px;
  border: 1px solid #4caf4f80;
  /* outline: 2px solid white; */
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: #4caf50;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }

  .navbar-search-icon .dot {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
